<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="first-name sign-up-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="last-name sign-up-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<% if @user.role != "admin" %>
  <div class="password-field sign-up-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="role-dropdown">
    <p>
      <%= form.label :role %><br />
      <%= form.collection_select :role, User::ROLES.select { |role|  role != "admin"  }, :to_s, :titleize %>
    </p>
  </div>

<% end %>