<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows:"5" %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, in: 1.00..1000000.00, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :booking_deadline %>
    <%= form.datetime_select :booking_deadline %>
  </div>

  <div class="field">
    <%= form.label :from_date, "From Date" %>
    <%= form.date_select :from_date %>
  </div>

  <div class="field">
    <%= form.label :to_date, "To Date" %>
    <%= form.date_select :to_date %>
  </div>

  <div class="field">
    <%= form.label :total_seats, "Total Seats" %>
    <%= form.select :total_seats, (1..1000) %>
  </div>

  <div class="field">
    <%= form.label :op_email, "Operator Email" %>
    <%= form.text_field :op_email %>
  </div>

  <div class="field">
    <%= form.label :op_phone, "Operator Phone" %>
    <%= form.text_field :op_phone, placeholder:"+1" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Tour.statuses.values.to_a %>
  </div>

  <div class="field page-title"><b><h2>Itinerary</h2></b></div>

  <div class="field">
    <label><b>Enter Start Location: </b></label>
  </div>

  <ul class="nested-form-ul">
    <%= form.nested_fields_for :tour_locations do |tour_loc_form| %>
      <li>

        <div class="field">
          <%= tour_loc_form.label :country %>
          <%= tour_loc_form.text_field :country %>
        </div>

        <div class="field">
          <%= tour_loc_form.label :state_or_province, "State/Province" %>
          <%= tour_loc_form.text_field :state_or_province %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="page-title">
    <%= form.add_nested_fields_link :tour_locations %>
  </div>

  <div class="actions create">
    <%= form.submit %>
  </div>
<% end %>
