<h1 class="page-title">Search Tours</h1>

<%= link_to 'Back', tours_path, :class => "back-link"%>

<%= form_with(model: @tour, local: true, url:tours_path, method: :get) do |form| %>
  <%= hidden_field_tag "search", "true" %>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(["", "In Future", "Completed", "Canceled"]) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price, "Price ($)" %>
    <%= form.number_field :price, in: 1.00..1000000.00, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :from_date, "From Date" %>
    <%= form.date_field :from_date %>
  </div>

  <div class="field">
    <%= form.label :to_date, "To Date" %>
    <%= form.date_field :to_date %>
  </div>

  <div class="field">
    <%= form.nested_fields_for :tour_locations do |location| %>
      <%= location.label :state_or_province, "State/Province" %>
      <%= location.select :state_or_province, options_for_select(TourLocation.distinct.pluck(:state_or_province)), include_blank: true %>
    <% end %>
  </div>

  <div class="field">
    <%= form.nested_fields_for :tour_locations do |location| %>
      <%= location.label :country, "Country" %>
      <%= location.select :country, options_for_select(TourLocation.distinct.pluck(:country)), include_blank: true %>
    <% end %>
  </div>

  <div class="actions create">
    <%= submit_tag("Search") %>
  </div>
<% end %>
